<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--  Bootstrapの設定 -->
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<title>SignUp</title>
</head>
<body>
<div class = "col-sm-5">
<div class = "page-header">
<h1>ユーザー登録画面</h1>
</div>
<form method = "post" th:action = "@{/signup}">
<table class = "table table-bordered table-hover">
<!-- ユーザーID入力エリア -->
<tr>
<th class = "active col-sm-3">ユーザーID</th>
<td>
<div class = "form-group">
<input type = "text" class = "form-control"/>
</div>
</td>
</tr>
<!-- パスワード入力エリア -->
<tr>
<th class = "active col-sm-3">パスワード</th>
<td>
<div class = "form-group">
<input type = "text" class = "form-control"/>
</div>
</td>
</tr>
<!-- ユーザー入力エリア -->
<tr>
<th class = "active col-sm-3">ユーザー名</th>
<td>
<div class = "form-group">
<input type = "text" class = "form-control"/>
</div>
</td>
</tr>
<!-- 誕生日入力エリア -->
<tr>
<th class = "active col-sm-3">誕生日</th>
<td>
<div class = "form-group">
<input type = "text" class = "form-control" placeholder = "yyyy/MM/dd" />
</div>
</td>
</tr>
<!-- 年齢入力エリア -->
<tr>
<th class = "active col-sm-3">誕生日</th>
<td>
<div class = "form-group">
<input type = "text" class = "form-control" />
</div>
</td>
</tr>
<!-- 結婚ステータス入力エリア -->
<tr>
<th class = "active">結婚</th>
<td>
<div class = "form-group">
<!-- ラジオボタンの実装 -->
<div th:each = "item:${radioMarriage}">
<input type = "radio" name = "radioMarrige" th:text = "${item.key}" th:value = "${item.value}"></input>
</div>
</div>
</td>
</tr>
</table>
<!-- ユーザー登録ボタン -->
<button class = "btn btn-primary" type = "submit">ユーザー登録</button>
</form>
</div>
</body>
</html>